@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?l3g7m6");
  src: url("../fonts/icomoon.eot?l3g7m6#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff?l3g7m6") format("woff"), url("../fonts/icomoon.svg?l3g7m6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"] {
  display: inline-flex;
  align-items: center;
}
[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e91d";
}
.icon-hide-pass:before {
  content: "\e91b";
}
.icon-show-pass:before {
  content: "\e91c";
}
.icon-info:before {
  content: "\e91a";
}
.icon-close-popup:before {
  content: "\e919";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e918";
}
.icon-catalog2:before {
  content: "\e916";
}
.icon-wishlist2:before {
  content: "\e915";
}
.icon-cart2:before {
  content: "\e917";
}
.icon-accept:before {
  content: "\e912";
}
.icon-home:before {
  content: "\e913";
}
.icon-close-circle:before {
  content: "\e914";
}
.icon-mail:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-reload:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-size-height:before {
  content: "\e904";
}
.icon-size-width:before {
  content: "\e905";
}
.icon-slider:before {
  content: "\e906";
}
.icon-star:before {
  content: "\e907";
}
.icon-star--active:before {
  color: #ecda3d;
}
.icon-text-link:before {
  content: "\e908";
}
.icon-toggle:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-wishlist:before {
  content: "\e90b";
}
.icon-cart:before {
  content: "\e90c";
}
.icon-catalog:before {
  content: "\e90d";
}
.icon-compare:before {
  content: "\e90f";
}
.icon-exemplary:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e911";
}
