@use "sass:math";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ====== libs ======
@import "libs/index";

// ====== fonts ======
@import "fonts";
@import "icomoon";

// ====== Base ======
@import "base/index";

// ====== Components ======
@import "components/index";

// ====== Pages ======
@import "pages/index";

// ====== LUMINAIRE-TYPES START ======
.luminaire-types {
	background: linear-gradient(270.15deg, #fff1dd -9.41%, #deebf8 105.22%);
	padding: 12px 0;

	@media screen and (max-width: 767px) {
		display: none;
	}

	&__row {
		display: flex;
		align-items: center;
	}

	.catalog-btn {
		&:not(:last-child) {
			@include adaptiv-value("margin-right", 24, 20, 1);
		}
	}

	&__menu {
		flex: 1;

		&:not(:last-child) {
			@include adaptiv-value("margin-right", 24, 20, 1);
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: wrap;
		margin-top: -5px;
		margin-bottom: -5px;
		@include adaptiv-value("margin-left", -13, -6, 0);
		@include adaptiv-value("margin-right", -13, -6, 0);

		@media screen and (min-width: 1440px) {
			justify-content: center;
		}
	}

	&__item {
		padding-top: 5px;
		padding-bottom: 5px;
		@include adaptiv-value("padding-left", 13, 6, 0);
		@include adaptiv-value("padding-right", 13, 6, 0);

		a {
			display: inline-flex;
			padding-top: 5px;
			padding-bottom: 5px;
			font-family: $fontSecond;
			font-size: 14px;
			line-height: 20px;
			color: $fontColor;
			text-decoration: underline transparent from-font;
			text-underline-offset: 3px;
			transition: $transition ease text-decoration 0s;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline $fontColor from-font;
				}
			}
		}
	}
}

.catalog-btn {
	font-weight: 600;
	padding-left: 16px;
	padding-right: 25px;

	i {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}
// ====== LUMINAIRE-TYPES END ======

// ====== FRONTPAGE START ======
.with-sidebar {
	&__row {
		display: flex;
		min-width: 1px;
	}

	&__sidebar {
		flex: 0 0 280px;
		@include adaptiv-value("flex-basis", 280, 150, 1);
		padding-bottom: 20px;

		&:not(:last-child) {
			margin-right: 20px;
		}
		&:not(:first-child) {
			margin-left: 20px;
		}

		&-sticky {
			&._active {
				position: sticky;
				top: $size-header-height;
			}
		}

		&--big {
			flex: 0 0 380px;
			@include adaptiv-value("flex-basis", 380, 150, 1);
		}
	}

	&__content {
		flex: 1;
		min-width: 0px;
	}
}

.frontpage {
	background: linear-gradient(173.28deg, #cde4f9 -2.13%, #ffeac1 98.82%);
	padding-top: 15px;

	&__row {
	}

	&__sidebar {
		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&__content {
		section {
			@include adaptiv-value("margin-bottom", 64, 50, 1);
		}

		.benefits {
			@include adaptiv-value("margin-bottom", 120, 80, 1);
		}

		.seo {
			margin-bottom: 120px;
		}
	}
}

// ====== LAMPS-SIDEBAR START ======
.lamps-sidebar {
	border-radius: 2px;
	background-color: $White;
	box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.06);
	font-size: 14px;
	line-height: 20px;
	@include adaptiv-value("padding-bottom", 25, 20, 1);

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	&__title {
		font-weight: 600;
		@include adaptiv-font(18, 25, 16, 1);
		color: $White;
		padding: 15px 25px;
		@include adaptiv-value("padding-left", 25, 15, 1);
		@include adaptiv-value("padding-right", 25, 15, 1);
		background-color: $Orange;

		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 24, 20, 1);
		}
	}

	&__accordion {
		@include adaptiv-value("padding-left", 25, 15, 1);
		@include adaptiv-value("padding-right", 25, 15, 1);
	}

	&__accordion-item {
		margin-left: -10px;
		margin-right: -10px;
	}

	&__button {
		padding: 8px 10px;
		display: flex;
		align-items: center;
		transition: $transition ease background-color 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(3, 106, 155, 0.1);
			}
		}
	}

	a.lamps-sidebar__button {
		padding: 5px 10px;
		text-decoration: underline transparent from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;

		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
				text-decoration: underline $fontColor from-font;
			}
		}
	}

	&__button-image {
		flex: 0 0 20px;
		position: relative;
		padding-bottom: 20px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		&:not(:last-child) {
			margin-right: 8px;
		}
	}

	&__button-title {
		text-align: left;
		flex: 1;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		color: $fontColor;
	}

	&__text {
		margin-top: 8px;
		margin-bottom: 8px;
		background-color: $LBlue2;
		@include adaptiv-value("margin-left", -15, -5, 1);
		@include adaptiv-value("margin-right", -15, -5, 1);

		@include adaptiv-value("padding-top", 24, 20, 1);
		@include adaptiv-value("padding-bottom", 24, 20, 1);
		@include adaptiv-value("padding-left", 52, 28, 1);
		@include adaptiv-value("padding-right", 25, 15, 1);

		li {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	&__link {
		color: $fontColor;
		text-decoration: underline transparent from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline $fontColor from-font;
			}
		}
	}
}
// ====== LAMPS-SIDEBAR END ======

// ====== MAIN-BANNERS START ======
.main-banners {
	&__swiper {
		min-width: 0px;
	}

	.swiper {
		&-wrapper {
			min-width: 0px;
		}

		&-pagination {
			@media screen and (min-width: 992px) {
				display: none;
			}
		}
	}

	&__item {
		@media screen and (min-width: 992px) {
			display: flex;
			height: auto;
		}
	}

	&__wrapper {
		width: 100%;
		color: $White;
		@include adaptiv-value("padding-top", 30, 20, 1);
		@include adaptiv-value("padding-bottom", 30, 20, 1);
		@include adaptiv-value("padding-left", 40, 15, 1);
		@include adaptiv-value("padding-right", 40, 15, 1);
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		border-radius: 2px;
		@include adaptiv-value("min-height", 350, 186, 1);
	}

	&__title {
		flex: 1;
		@include adaptiv-font(34, 37, 20, 1);
		transition: $transition ease all 0s;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__features {
		display: flex;
		flex-wrap: wrap;
		margin: -5px;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__feature {
		padding: 5px;
	}

	&__feature-wrapper {
		max-width: 174px;
	}

	&__feature-title {
		font-weight: 700;
		@include adaptiv-font(34, 37, 16, 1);

		@media screen and (min-width: 768px) {
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}

	&__feature-text {
		@include adaptiv-font(14, 20, 12, 1);
	}

	&__link {
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		color: $Orange;
		display: flex;
		align-items: center;

		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline $Orange;
				}
				i {
					transform: translate(3px, 0);
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		span {
			text-decoration: underline transparent;
			text-underline-offset: 3px;
			transition: $transition ease text-decoration 0s;
		}

		i {
			margin-left: 8px;
			transition: $transition ease transform 0s;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}
// ====== MAIN-BANNERS END ======

// ====== ONLINE-FITTING START ======
.online-fitting {
	@media screen and (min-width: 768px) {
		display: none;
	}

	&:not(:last-child) {
		margin-bottom: 8px;
	}

	&__wrapper {
		border-radius: 2px;
		color: $White;
		position: relative;
	}

	&__content {
		display: flex;
		align-content: center;
		justify-content: space-between;
		padding: 13px 25px;
		@include adaptiv-value("padding-left", 25, 15, 1);
		@include adaptiv-value("padding-right", 25, 15, 1);

		i {
			font-size: 20px;
		}
	}

	&__title {
		font-weight: 700;
		@include adaptiv-font(18, 20, 14, 1);
		color: $White;

		&:not(:last-child) {
			padding-right: 20px;
		}

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}
// ====== ONLINE-FITTING END ======

// ====== CATEGORY-WIDGET START ======
.category-widget {
	@include adaptiv-value("margin-right", -45, -20, 0);

	@media screen and (min-width: 1440px) {
		@include adaptiv-value("margin-right", -80, -20, 0);
	}
	@media screen and (min-width: 1920px) {
		@include adaptiv-value("margin-right", -120, -20, 0);
	}
	@media screen and (max-width: 767px) {
		margin-right: -20px;
	}

	&__heading {
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", -42, -30, 1);
			@include adaptiv-value("padding-right", 123, 103, 1);

			@media screen and (max-width: 1366px) {
				@include adaptiv-value("padding-right", 158, 148, 1);
			}
			@media screen and (max-width: 767px) {
				@include adaptiv-value("padding-right", 123, 93, 1);
			}
		}
	}

	&__title {
		&:not(:last-child) {
			padding-right: 15px;
		}
	}

	&__swiper {
		@include adaptiv-value("padding-right", 45, 20, 0);

		@media screen and (min-width: 1440px) {
			@include adaptiv-value("padding-right", 80, 20, 0);
		}
		@media screen and (min-width: 1920px) {
			@include adaptiv-value("padding-right", 120, 20, 0);
		}
		@media screen and (max-width: 767px) {
			padding-right: 20px;
		}
	}

	&__item {
		display: flex;
		height: auto;
	}

	&__item-wrapper {
		width: 100%;
		background-color: $White;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 1px;
		transition: $transition ease transform 0s;

		@media (any-hover: hover) {
			&:hover {
				transform: translate(0, 3px);

				.category-widget__item-title {
					text-decoration: underline $fontColor from-font;
				}
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	&__item-image {
		flex: 1;
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	&__item-title {
		@include adaptiv-value("padding-top", 24, 14, 1);
		@include adaptiv-value("padding-bottom", 24, 14, 1);
		@include adaptiv-value("padding-left", 20, 15, 1);
		@include adaptiv-value("padding-right", 20, 15, 1);
		font-weight: 600;
		@include adaptiv-font(18, 25, 12, 1);
		text-align: center;
		color: $fontColor;
		text-decoration: underline transparent from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;
	}
}
// ====== CATEGORY-WIDGET END ======
// ====== FRONTPAGE END ======

// ====== SALE-WIDGET START ======
.sale-widget {
	@media (any-hover: hover) {
		margin-bottom: 0 !important;
	}

	@media screen and (max-width: $layoutDesktop - 0.02 + "px") {
		@include adaptiv-value("margin-right", -45, -20, 0);
	}
	@media screen and (max-width: 767px) {
		margin-right: -20px;
	}

	&__swiper {
		@media screen and (max-width: $layoutDesktop - 0.02 + "px") {
			@include adaptiv-value("padding-right", 45, 20, 0);
		}
		@media screen and (max-width: 767px) {
			padding-right: 20px;
		}
	}

	.swiper {
		@media (any-hover: hover) {
			padding-bottom: 105px;
		}
	}
}
// ====== SALE-WIDGET END ======

// ====== PRODUCT-ITEM START ======
.product-item {
	position: relative;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.08);

	&__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;

		@media (any-hover: hover) {
			&:hover {
				.product-item__controls {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
					transform: translate(0, 100%);
				}
			}
		}
	}

	&__image {
		@include adaptiv-value("min-height", 218, 156, 1);
	}

	&__labels {
		font-weight: 700;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 10px;

		span {
			display: none;
			min-width: 52px;
			padding: 10px;
			background-color: $White;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}

	&__label-sale {
		color: $Red;
	}

	&__label-new {
		color: $Blue;
	}

	&__body {
		display: flex;
		flex-direction: column;
		background-color: $White;
		@include adaptiv-value("padding", 20, 16, 1);
		flex: 1;

		@media (any-hover: hover) {
			&:hover {
				.product-item__name {
					text-decoration: underline $fontColor from-font;
				}
			}
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}

	&__article {
		color: $Gray;
		font-size: 12px;
		line-height: 17px;

		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	&__name {
		font-size: 14px;
		line-height: 20px;
		color: $fontColor;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		flex: 1;
		text-decoration: underline transparent from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__attributes {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		margin: -4px;

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__attribute {
		padding: 4px;
	}

	&__attribute-wrapper {
		border-radius: 70px;
		background-color: $LGray2;
		padding: 2px 8px;
		font-size: 14px;
		line-height: 20px;
		color: $Gray;
		display: flex;
		align-content: center;

		&::before {
			content: "";
			display: block;
			width: 19px;
			flex-basis: 19px;
			height: 19px;
			margin-right: 2px;
		}
	}

	&__attribute--height {
		.product-item__attribute-wrapper {
			&::before {
				background: url(../img/icons/product-height.svg) no-repeat center/contain;
			}
		}
	}

	&__attribute--diameter {
		.product-item__attribute-wrapper {
			&::before {
				background: url(../img/icons/product-diameter.svg) no-repeat center/contain;
			}
		}
	}

	&__price {
		font-weight: 600;
		@include adaptiv-font(18, 25, 14, 1);
		color: $fontColor;

		.new-price {
			&:not(:last-child) {
				margin-right: 16px;
			}
		}

		.old-price {
			font-size: 12px;
			line-height: 17px;
		}
	}

	&__controls {
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.04);
		transition: $transition ease all 0s;

		@media (any-hover: hover) {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			transform: translate(0, 50%);
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
		}

		button {
			font-weight: 700;
			@include adaptiv-font(14, 20, 12, 1);

			i {
				font-size: 18px;
				margin-right: 8px;
			}
		}
	}

	&__buy {
		width: 100%;
		border-radius: 0;

		@media (any-hover: hover) {
			&:hover {
				i {
					animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
				}
			}
		}
	}

	&__controls-row {
		display: flex;

		button {
			flex: 1;
			@include adaptiv-value("padding-top", 15, 10, 1);
			@include adaptiv-value("padding-bottom", 15, 10, 1);
			@include adaptiv-value("padding-left", 20, 10, 1);
			@include adaptiv-value("padding-right", 20, 10, 1);
			background-color: $White;
			border-radius: 0;

			&:first-child {
				border-right: 1px solid $LGray;
			}
		}
	}

	&__compare {
		@media (any-hover: hover) {
			&:hover {
				i {
					animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
				}
			}
		}
	}

	&__wishlist {
		@media (any-hover: hover) {
			&:hover {
				i {
					animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
				}
			}
		}
	}

	&--sale {
		.product-item__label-sale {
			display: inline-block;
		}
	}
	&--new {
		.product-item__label-new {
			display: inline-block;
		}
	}
}
// ====== PRODUCT-ITEM END ======

// ====== NEWS-SIDEBAR START ======
.news-sidebar {
	background-color: $White;
	border-radius: 2px;
	@include adaptiv-value("padding", 25, 15, 1);
	box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.06);

	&__title {
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 35, 20, 1);
		}
	}

	&__items {
	}

	&__item {
		display: flex;
		flex-direction: column;
	}

	&__item-date {
		display: inline-block;
		font-size: 14px;
		line-height: 20px;
		color: $Gray;
		text-decoration: underline transparent from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline $Gray from-font;
			}
		}

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__item-title {
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		color: $fontColor;
		text-decoration: underline transparent from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline $fontColor from-font;
			}
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__item-excerpt {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;

		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 24, 15, 1);
		}
	}

	&__item-link {
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 24, 15, 1);
		}
	}
}
// ====== NEWS-SIDEBAR END ======

// ====== RECOMMENDATIONS-WIDGET START ======
.recommendations-widget {
	&__heading {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		@media screen and (min-width: 768px) and (max-width: 1050px) {
			flex: 0 0 100%;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		@media screen and (max-width: 650px) {
			flex: 0 0 100%;
			padding-right: 0;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	&__swiper {
		@media (any-hover: hover) {
			padding-bottom: 96px;
		}
	}

	.tabs {
		&__triggers {
		}

		&__triggers-wrapper {
			display: flex;
			align-items: center;
			position: relative;
			z-index: 2;
		}

		&__triggers-item {
			font-weight: 700;
			font-size: 12px;
			line-height: 14px;
			color: $fontColor;
			@include adaptiv-value("padding-top", 14, 8, 1);
			@include adaptiv-value("padding-bottom", 14, 8, 1);
			@include adaptiv-value("padding-left", 20, 16, 1);
			@include adaptiv-value("padding-right", 20, 16, 1);
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 61px;
			transition: $transition ease all 0s;

			@media (any-hover: hover) {
				&:hover {
					border-color: $Orange;
				}
			}

			&:not(:last-child) {
				@include adaptiv-value("margin-right", 10, 6, 1);
			}

			&--active {
				color: $Orange;
				border-color: $Orange;
			}
		}

		&__content {
		}

		&__content-item {
		}
	}
}
// ====== RECOMMENDATIONS-WIDGET END ======

// ====== REVIEWS-WIDGET START ======
.reviews-widget {
	&__heading {
		display: flex;
		align-content: center;
		justify-content: space-between;

		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 40, 24, 1);
		}
	}

	&__title {
		&:not(:last-child) {
			padding-right: 20px;
		}
	}

	&__link {
	}

	&__list {
		padding-bottom: 36px;
	}

	&__item {
		height: auto;
		display: flex;
	}

	&__item-wrapper {
		border-radius: 1px;
		background-color: $White;
		@include adaptiv-value("padding", 30, 24, 1);
	}

	&__item-heading {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 25, 22, 1);
		}
	}

	&__item-profile {
		&:not(:last-child) {
			padding-right: 10px;
		}
	}

	&__item-name {
		display: inline-block;
		font-weight: 600;
		@include adaptiv-font(18, 25, 14, 1);
		color: $fontColor;
		text-decoration: underline transparent from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline $fontColor from-font;
			}
		}

		&:not(:last-child) {
			margin-bottom: 3px;
		}
	}

	&__item-date {
		font-size: 12px;
		line-height: 17px;
		color: $Gray;
	}

	&__item-rating {
		display: flex;
		align-items: center;
		@include adaptiv-font(24, 24, 20, 1);
		color: $LGray3;
	}

	&__item-body {
	}

	&__item-content {
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.swiper-pagination {
		@media screen and (min-width: 992px) {
			display: none;
		}
	}
}
// ====== REVIEWS-WIDGET END ======

// ====== BENEFITS START ======
.benefits {
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-top: -32px;
		margin-bottom: -32px;
		@include adaptiv-value("margin-left", -32, -10, 1);
		@include adaptiv-value("margin-right", -32, -10, 1);
	}

	&__item {
		flex: 0 0 25%;
		padding-top: 32px;
		padding-bottom: 32px;
		@include adaptiv-value("padding-left", 32, 10, 1);
		@include adaptiv-value("padding-right", 32, 10, 1);

		@media screen and (max-width: 767px) {
			flex: 0 0 50%;
		}
	}

	&__item-icon {
		max-width: 28px;

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__item-title {
	}
}
// ====== BENEFITS END ======

// ====== SEO START ======
.seo {
	._content {
		h2 {
			&:not(:last-child) {
				@include adaptiv-value("margin-bottom", 40, 24, 1);
			}
		}
	}
}
// ====== SEO END ======

// ====== MAP START ======
.map {
	&__wrapper {
		position: relative;
	}

	&__frame {
		position: relative;
		padding-bottom: 560px;

		@media screen and (max-width: 575px) {
			padding-bottom: 891px;
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__popup {
		position: absolute;
		top: 30px;
		right: 0;
		@include adaptiv-value("padding-left", 45, 20, 0);
		@include adaptiv-value("padding-right", 45, 20, 0);

		@media screen and (min-width: 1440px) {
			@include adaptiv-value("padding-left", 80, 20, 0);
			@include adaptiv-value("padding-right", 80, 20, 0);
		}
		@media screen and (min-width: 1920px) {
			@include adaptiv-value("padding-left", 120, 20, 0);
			@include adaptiv-value("padding-right", 120, 20, 0);
		}
		@media screen and (max-width: 767px) {
			padding: 0 20px;
		}
		@media screen and (max-width: 575px) {
			top: auto;
			bottom: 100px;
		}
	}

	&__popup-wrapper {
		background-color: $White;
		@include adaptiv-value("padding-top", 50, 30, 1);
		@include adaptiv-value("padding-bottom", 40, 30, 1);
		@include adaptiv-value("padding-right", 40, 25, 1);
		@include adaptiv-value("padding-left", 40, 25, 1);
		@include adaptiv-value("width", 380, 280, 1);
		position: relative;
	}

	&__popup-form {
		.form__input {
			min-height: 54px;
			font-size: 16px;
			line-height: 22px;
			padding: 16px 24px;
		}
		textarea.form__input {
			overflow: hidden;
		}

		.btn {
			width: 100%;
			font-size: 16px;
			line-height: 22px;
			min-height: 54px;
		}
	}

	&__popup-heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__popup-title {
		font-weight: 600;
		@include adaptiv-font(22, 26, 16, 1);
	}

	&__popup-close {
		display: inline-flex;
		font-size: 24px;
		color: $fontColor;
		transition: $transition ease transform, $transition opacity 0s;

		@media (any-hover: hover) {
			&:hover {
				// transform: rotate(90deg);
				opacity: 0.6;
			}
		}
		&._active {
			transform: rotate(135deg);

			&:hover {
				// transform: rotate(225deg);
			}
		}
	}

	.form__row {
		&:not(:first-child) {
			@include adaptiv-value("margin-top", 33, 24, 1);
		}
	}
}
// ====== MAP END ======

// ====== PAGE-HEADING START ======
.page-heading {
	@include adaptiv-value("padding-top", 40, 30, 1);
	@include adaptiv-value("padding-bottom", 40, 30, 1);

	._container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__back {
		a {
			color: $Orange;
			border: 1px solid $Orange;
			border-radius: 40px;
			padding: 10px 14px;
			font-size: 12px;
			line-height: 14px;
			transition: $transition ease all 0s;

			i {
				transform: rotate(180deg);
				margin-right: 9px;
				font-size: 16px;
			}

			@media (any-hover: hover) {
				&:hover {
					border-color: $LGray;
					color: $fontColor;
				}
			}
		}
	}
}

.breadcrumbs {
	@media screen and (max-width: 767px) {
		display: none;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		font-weight: 700;
		font-size: 12px;
		line-height: 14px;
	}

	&__link {
		a {
			color: $Orange;
			text-decoration: underline transparent from-font;
			text-underline-offset: 3px;
			transition: $transition ease text-decoration 0s;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline $Orange from-font;
				}
			}
		}
	}

	&__separator {
		margin: 0 16px;
		display: block;
		width: 1px;
		height: 8px;
		background-color: $Gray;
	}

	&__title {
		color: rgba($Gray, 0.6);
	}
}
// ====== PAGE-HEADING END ======

// ====== INFORMATION START ======
.information {
	@include adaptiv-value("margin-bottom", 150, 50, 1);

	&__wrapper {
		background: $White;
		box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.08);
		border-radius: 2px;
	}

	.tabs {
		&__triggers {
			@include adaptiv-value("padding-top", 8, 0, 1);
			@include adaptiv-value("padding-left", 56, 20, 1);
			@include adaptiv-value("padding-right", 56, 20, 1);
			scrollbar-width: thin;
			overflow-x: auto;
			overflow-y: hidden;
			position: relative;
			padding-bottom: 1px;
			
			&::after {
				content: '';
				display: block;
				height: 1px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: $LGray;
			}

			&::-webkit-scrollbar {
				height: 0px;
			}
		}

		&__triggers-item {
			@include adaptiv-value("padding-top", 32, 24, 1);
			@include adaptiv-value("padding-bottom", 32, 24, 1);
			font-weight: 700;
			@include adaptiv-font(14, 20, 12, 1);
			color: $fontColor;
			text-align: center;
			position: relative;
			transition: $transition ease all 0s;

			&::before {
				content: "";
				display: block;
				height: 1px;
				background: $Orange;
				position: absolute;
				bottom: 0;
				left: 0;
				// transform: translateY(100%);
				opacity: 0;
				width: 0;
				transition: $transition ease all 0s;
			}

			&:not(:last-child) {
				@include adaptiv-value("margin-right", 80, 16, 1);
			}

			@media (any-hover: hover) {
				&:hover {
					opacity: 0.8;
				}
			}

			&--active {
				color: $Orange;

				&::before {
					content: "";
					width: 100%;
					opacity: 1;
				}
			}
		}

		&__content {
			@include adaptiv-value("padding-left", 56, 20, 1);
			@include adaptiv-value("padding-right", 56, 20, 1);
			@include adaptiv-value("padding-bottom", 8, 2, 1);
			max-width: 816px;
			font-size: 14px;
			line-height: 20px;
		}

		&__content-item {
			@include adaptiv-value("padding-top", 48, 22, 1);
			@include adaptiv-value("padding-bottom", 48, 22, 1);
		}
	}
}

// ====== INFORMATION END ======

// ====== SEARCH START ======

// ====== SEARCH END ======
