.accordion {
    // .accordion__title
    &__title {
        width: 100%;
        position: relative;
        background-color: transparent;
        padding: 5px 0;
        cursor: auto;

        &._active {
            &::after {
                transform: rotate(180deg);
            }
        }
    }

    // .accordion__text
    &__text {
    }

    &._init {
        .accordion__title {
            cursor: pointer;

            &::after {
                content: "";
                display: block;
                width: 18px;
                height: 18px;
                border-radius: 100%;
                background: $LBlue2 url(../img/icons/accordion.svg) no-repeat center/contain;
                padding: 8px;
                transition: $transition ease transform 0s;
            }
        }
    }
}
