.btn {
    text-align: center;
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    padding: 14px 32px;
}

.btn-bg {
    background-color: $Orange;
    color: $White;
    transition: $transition ease background-color 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: rgba($Orange, 0.8);
        }
    }
}

.btn-wh {
    background-color: $White;
    transition: $transition ease background-color 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: rgba($White, 0.6);
        }
    }
}

.text-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    color: $Orange;

    span {
        margin-right: 8px;
        text-decoration: underline transparent from-font;
        text-underline-offset: 3px;
        transition: $transition ease text-decoration 0s;
    }

    i {
        transition: $transition ease transform 0s;
    }

    @media (any-hover: hover) {
        &:hover {
            span {
                text-decoration: underline $Orange from-font;
            }

            i {
                transform: translate(5px, 0);
            }
        }
    }
}
