// ====== HEADER START ======
.header {
	width: 100%;

	&__wrapper {
	}

	&__top {
		position: relative;
		z-index: 2;
		background-color: $LBlue;
		height: $size-header-top;
		display: flex;
		align-items: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	&__row {
		display: flex;
		align-items: center;
	}

	&__location {
		z-index: 2;

		@media screen and (min-width: 768px) {
			flex: 1;

			.location__button {
				padding: 6px 15px;
				border-radius: 2px;
				transition: $transition ease background-color 0s;
				position: relative;
				z-index: 3;

				i,
				span {
					pointer-events: none;
				}

				@media (any-hover: hover) {
					&:hover {
						opacity: 1;
						background-color: rgba(3, 106, 155, 0.1);

						span {
							text-decoration-color: transparent;
						}
					}
				}
			}

			&:not(:last-child) {
				margin-right: 20px;
			}

			&._active {
				.icon-toggle {
					transform: rotate(-180deg);
				}
			}
		}
		@media screen and (max-width: 767px) {
			width: 100%;

			.location__button {
				background-color: $LBlue;
				padding: 15px 20px;
				width: 100%;
				justify-content: center;

				.icon-toggle {
					transform: rotate(-90deg);
					margin-left: 7px;
				}
			}
		}
	}

	&__top-menu {
		position: relative;
		z-index: 2;

		@media screen and (min-width: 768px) {
			&:not(:last-child) {
				@include adaptiv-value("margin-right", 70, 0, 1);
			}
		}
		@media screen and (max-width: 767px) {
			padding: 0 20px;
			width: 100%;
			display: flex;
			justify-content: center;
			margin: 40px 0;
		}

		.header-menu__item {
			&:not(:last-child) {
				@include adaptiv-value("margin-right", 24, 6, 1);
			}

			@media screen and (max-width: 767px) {
				text-align: center;

				&:not(:last-child) {
					margin-right: 0;
					margin-bottom: 24px;
				}
			}
		}

		.header-menu__link {
			font-size: 12px;
			line-height: 17px;

			@media screen and (min-width: $layoutDesktop + 0.02 + "px") {
				@include adaptiv-font(12, 17, 10, 0);
			}
			@media screen and (max-width: 767px) {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}

	.header-menu {
		&__list {
			@media screen and (min-width: 768px) {
				display: flex;
				align-items: center;
			}
		}

		&__item {
		}

		&__link {
			color: $fontColor;
			text-decoration: underline transparent from-font;
			text-underline-offset: 3px;
			transition: $transition ease text-decoration 0s;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline $fontColor from-font;
				}
			}
		}
	}

	&__bottom {
		// position: relative;
		z-index: 2;
		background-color: $White;
		height: $size-header-bottom;
		display: flex;
		align-items: center;
		padding: 10px 0;
		transition: $transition ease box-shadow 0s;
	}

	&__bottom-column {
		&:not(:last-child) {
			@include adaptiv-value("margin-right", 50, 0, 1);
		}
	}

	&__logo {
		@include adaptiv-value("max-width", 200, 100, 1);
	}

	&__main-contacts {
		a {
			display: block;
			text-decoration: underline transparent from-font;
			text-underline-offset: 3px;
			transition: $transition ease text-decoration 0s;

			&:not(:last-child) {
				margin-bottom: 2px;

				@media screen and (max-width: 767px) {
					margin-bottom: 8px;
				}
			}
		}

		@media screen and (max-width: 767px) {
			padding: 40px 40px 0;
			width: 100%;
			text-align: center;
			border-top: 1px solid $LGray;
		}
	}

	&__phone {
		color: $fontColor;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline $fontColor from-font;
			}
		}
	}

	&__mail {
		color: $Gray;
		font-size: 14px;
		line-height: 20px;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline $Gray from-font;
			}
		}

		@media screen and (min-width: $layoutDesktop + 0.02 + "px") {
			@include adaptiv-font(14, 20, 12, 0);
		}
	}

	&__search {
		flex: 1;
	}

	&__controls {
	}

	&__controls-wrapper {
		display: flex;
		align-items: center;
	}

	&__control {
		display: flex;

		&:not(:last-child) {
			@include adaptiv-value("margin-right", 16, 0, 1);
		}

		& > a {
			font-size: 22px;
			line-height: 1;
			color: $DBlue;
			display: inline-flex;
			padding-left: 8px;
			padding-right: 8px;
			transition: $transition ease transform, $transition opacity 0s;

			@media (any-hover: hover) {
				&:hover {
					transform: translate(0, 2px);
					opacity: 0.6;
				}
			}
		}
	}

	&--desktop {
		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&--mobile {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: $size-header-height-mobile;
			background-color: $White;
			z-index: 2;
		}

		@media screen and (min-width: 768px) {
			display: none;
		}

		@media screen and (max-width: 767px) {
			.header__body {
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: relative;
				height: $size-header-height-mobile;
				margin: 0 -10px;
			}

			.header__burger {
				display: inline-flex;
				width: 46px;
				height: 46px;
				justify-content: center;
				align-items: center;
				z-index: 5;
				cursor: pointer;
				transition: 0.3s ease all 0s;

				&.active {
					.header__burger-inner {
						&::before {
							transform: rotate(45deg);
							top: 5px;
						}

						&::after {
							transform: rotate(-45deg);
							bottom: 5px;
						}

						span {
							transform: translate(0, -50%) scale(0);
						}
					}
				}
			}

			.header__burger-inner {
				display: block;
				width: 21px;
				height: 12px;
				position: relative;

				&::before,
				&::after,
				span {
					position: absolute;
					left: 0;
					background-color: $fontColor;
					width: 100%;
					height: 17%;
					border-radius: 20px;
					transition: 0.3s ease all 0s;
				}

				&::before {
					content: "";
					top: 0;
				}

				&::after {
					content: "";
					bottom: 0;
				}

				span {
					width: 70%;
					top: 50%;
					transform: translate(0, -50%) scale(1);
				}
			}

			.header__logo {
				position: relative;
				z-index: 2;
				max-width: 100%;

				.logo__link {
					display: block;
					@include adaptiv-value("max-width", 200, 109, 0);
				}
			}

			.header__column {
				padding-left: 10px;
				padding-right: 10px;
			}

			.header__controls {
				display: flex;
				align-items: center;
				position: relative;
				z-index: 2;

				div {
					display: flex;
					font-size: 20px;
					line-height: 1;

					&:not(:last-child) {
						margin-right: 18px;
					}

					a {
						display: inline-flex;
						color: $fontColor;
					}
				}
			}

			.header__menu {
				position: fixed;
				top: -100%;
				left: 0%;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: $White;
				padding: #{$size-header-height-mobile} 0 40px;
				z-index: 3;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				transition: $transition ease top 0s;

				&::before {
					content: "";
					background-color: $White;
					position: fixed;
					top: -100%;
					left: 0;
					width: 100%;
					height: $size-header-height-mobile;
					z-index: 4;
					transition: 0.3s ease top 0s;
				}

				&.active {
					top: 0;

					&::before {
						top: 0;
					}

					.header__menu-label {
						top: 20px;
					}
				}
			}

			.header__menu-label {
				position: fixed;
				top: -100px;
				left: 50%;
				transform: translate(-50%, 0);
				z-index: 4;
				font-weight: 700;
				font-size: 16px;
				line-height: 22px;
				transition: $transition ease top 0s;
			}
		}
	}
}

.nav-fixed {
	.header__bottom {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
		height: calc(#{$size-header-bottom} - 6px);
	}
}
// ====== HEADER END ======

// ====== LOCATION START ======
.location {
	position: relative;

	&__button {
		display: inline-flex;
		align-items: center;
		font-weight: 700;
		font-size: 12px;
		line-height: 14px;
		color: $Blue;
		transition: $transition ease opacity 0s;

		@media screen and (min-width: $layoutDesktop + 0.02 + "px") {
			@include adaptiv-font(12, 12, 10, 0);
		}

		i {
			font-size: 14px;
			transition: $transition ease all 0s;

			&:not(:last-child) {
				margin-right: 4px;
			}

			@media screen and (min-width: $layoutDesktop + 0.02 + "px") {
				@include adaptiv-font(14, 14, 12, 0);
			}
		}

		span {
			text-decoration: underline transparent from-font;
			text-underline-offset: 3px;
			transition: $transition ease text-decoration 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.6;

				span {
					text-decoration: underline $Blue from-font;
				}
			}
		}
	}

	&__dropdown {
		position: absolute;
		bottom: 5px;
		transform: translate(0, 100%);
		left: 0;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		z-index: 3;
		background-color: $White;
		box-shadow: 10px 10px 44px rgba(0, 0, 0, 0.25);
		border-radius: 2px;
		transition: $transition ease all 0s;
		padding: 16px 20px;

		@media screen and (min-width: 768px) {
			min-width: 328px;
		}
	}

	&._active {
		.location__dropdown {
			opacity: 1;
			pointer-events: all;
			visibility: visible;
			bottom: -5px;
		}
	}

	&__dropdown-heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid $LGray;
		padding-bottom: 16px;
		margin-bottom: 18px;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
	}

	&__dropdown-close {
		display: inline-flex;
		font-size: 24px;
		color: $fontColor;
		transition: $transition ease transform, $transition opacity 0s;

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
				transform: rotate(90deg);
			}
		}
	}

	&__dropdown-info {
	}

	&__dropdown-select {
	}

	&__dropdown-popular {
		margin-top: 20px;
	}

	&__dropdown-popular-label {
		font-size: 12px;
		line-height: 17px;
		color: $Gray;

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__dropdown-popular-list {
	}

	&__dropdown-popular-item {
		a {
			display: block;
			padding: 8px 13px;
			margin: 0 -13px;
			border-radius: 4px;
			color: $fontColor;
			transition: $transition ease background-color 0s;

			@media (any-hover: hover) {
				&:hover {
					background-color: $LBlue;
				}
			}
		}
	}

	&__controls {
	}

	&__control {
	}

	.icon-close {
		pointer-events: none;
	}
}
// ====== LOCATION END ======

// ====== AUTH START ======
.auth {
	&__login {
		font-weight: 700;
		font-size: 12px;
		line-height: 14px;

		@media screen and (min-width: $layoutDesktop + 0.02 + "px") {
			@include adaptiv-font(12, 14, 10, 0);
		}
	}

	&__login-link {
		color: $Blue;
		display: inline-flex;
		align-items: center;
		transition: $transition ease opacity 0s;

		i {
			font-size: 12px;

			&:not(:last-child) {
				margin-right: 8px;
			}

			@media screen and (min-width: $layoutDesktop + 0.02 + "px") {
				@include adaptiv-font(12, 12, 6, 0);
			}
		}

		span {
			text-decoration: underline transparent from-font;
			text-underline-offset: 3px;
			transition: $transition ease text-decoration 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.6;

				span {
					text-decoration: underline $Blue from-font;
				}
			}
		}
	}
}
// ====== AUTH END ======

// ====== LOGO START ======
.logo {
	&__link {
		display: inline-block;
		transition: $transition ease opacity 0s;

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
}
// ====== LOGO END ======

// ====== SEARCH START ======
.search {
	position: relative;

	&__form {
	}

	&__results {
	}
}

.search-form {
	position: relative;

	&__input {
		font-size: 14px;
		line-height: 20px;
		padding-right: 50px;
	}

	&__btn {
		background-color: transparent;
		position: absolute;
		top: 0;
		right: 0;
		display: inline-flex;
		align-items: center;
		height: 100%;
		padding: 10px 17px;
		font-size: 16px;
		line-height: 1;
		transition: $transition ease opacity 0s;

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.6;
			}
		}
	}
}

.search-results {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -5px;
	transform: translate(0, 100%);
	z-index: 2;
	border-radius: 2px;
	background-color: $White;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.17);
	@include adaptiv-value("padding-top", 30, 15, 1);
	@include adaptiv-value("padding-bottom", 30, 15, 1);
	@include adaptiv-value("padding-left", 32, 15, 1);
	@include adaptiv-value("padding-right", 32, 15, 1);
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: $transition ease all 0s;

	@media screen and (max-width: 1366px) {
		left: 50%;
		transform: translate(-50%, 100%);
		min-width: 500px;
	}

	&__item {
		&:not(:last-child) {
			padding-bottom: 24px;
			margin-bottom: 24px;
			border-bottom: 1px solid $LGray;
		}
	}

	&__category {
	}

	&__title {
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		color: $Gray;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		@media screen and (min-width: $layoutDesktop + 0.02 + "px") {
			@include adaptiv-font(14, 20, 12, 0);
		}
	}

	&__category-list {
	}

	&__category-item {
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 16, 10, 1);
		}
	}

	&__category-link {
		display: inline-flex;
		align-items: center;

		@media (any-hover: hover) {
			&:hover {
				.search-results__category-item-title {
					@media (any-hover: hover) {
						&:hover {
							text-decoration: underline $fontColor from-font;
						}
					}
				}
			}
		}
	}

	&__category-item-image {
		flex: 0 0 20px;
		position: relative;
		padding-bottom: 20px;

		&:not(:last-child) {
			margin-right: 8px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__category-item-title {
		color: $fontColor;
		text-decoration: underline transparent from-font;
		text-underline-offset: 2px;
		transition: $transition ease text-decoration 0s;

		span {
			color: $Orange;
		}
	}

	&__products {
	}

	&__products-list {
		max-height: 272px;
		padding-right: 6px;
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-width: thin;

		&::-webkit-scrollbar {
			width: 6px;
		}
		&::-webkit-scrollbar-track {
			background-color: $scrollTrack;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: $scrollThumb;
		}
	}

	&__product {
		&:first-child {
			margin-top: -10px;
			padding-top: 10px;
		}
	}

	&__product-link {
		display: flex;
		align-items: center;
		padding: 10px 14px;
		margin-left: -14px;
		margin-right: -14px;
		transition: $transition ease background 0s;

		@media (any-hover: hover) {
			&:hover {
				background: rgba(236, 134, 61, 0.08);
			}
		}
	}

	&__product-column {
		&:not(:last-child) {
			@include adaptiv-value("margin-right", 16, 10, 1);
		}
	}

	&__product-image {
		display: inline-flex;
		flex: 0 0;
		@include adaptiv-value("flex-basis", 60, 45, 1);
		@include adaptiv-value("padding-bottom", 47, 30, 1);
		position: relative;
		border-radius: 2px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__product-name {
		flex: 1;

		& > div {
			&:not(:last-child) {
				margin-bottom: 2px;
			}
		}
	}

	&__product-title {
		font-size: 14px;
		line-height: 20px;
		color: $fontColor;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;

		span {
			color: $Orange;
		}
	}

	&__product-category {
		font-size: 12px;
		line-height: 17px;
		color: $Gray;
	}

	&__product-price {
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		text-align: right;
		color: $fontColor;

		& > div {
			&:not(:last-child) {
				margin-bottom: 2px;
			}
		}
	}

	&__product-price-current {
		color: $Red;
	}

	&__product-price-old {
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		color: $Gray;
	}

	&__product-btn {
	}

	&._active {
		bottom: -15px;
		opacity: 1;
		pointer-events: all;
		visibility: visible;
	}
}
// ====== SEARCH END ======

// ====== BASKET START ======
.basket {
	position: relative;

	@media (any-hover: hover) {
		&:hover {
			.small-basket {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				bottom: 0px;
			}
		}
	}

	&__link {
		position: relative;
		z-index: 2;

		.icon-cart,
		.icon-cart2 {
			font-size: 19px;
		}
	}

	&__amount {
		min-width: 22px;
		min-height: 22px;
		font-weight: 700;
		font-size: 12px;
		line-height: 1;
		color: $White;
		border-radius: 100%;
		background-color: $Blue;
		display: inline-flex !important;
		align-items: center;
		justify-content: center;
		border: 2px solid $White;
		position: absolute;
		top: 0;
		@include adaptiv-value("right", 5, 0, 1);
		transform: translate(0, -50%);
	}

	&__preview {
		position: absolute;
		right: 0;
		bottom: 5px;
		padding-top: 10px;
		transform: translate(0, 100%);
	}
}

.small-basket {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: $transition ease all 0s;
	z-index: 4;

	&__wrapper {
		@media screen and (min-width: 768px) {
			background-color: $White;
			box-shadow: 10px 10px 44px rgba(0, 0, 0, 0.25);
			border-radius: 2px;
			padding-top: 24px;
			min-width: 328px;
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	&__list-wrapper {
	}

	&__list {
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-width: thin;
		max-height: 200px;
		padding-right: 10px;
		margin-bottom: 13px;

		&::-webkit-scrollbar {
			width: 6px;
		}
		&::-webkit-scrollbar-track {
			background-color: $scrollTrack;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: $scrollThumb;
		}
	}

	&__item {
		display: flex;
		align-items: flex-start;

		&:not(:last-child) {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid $LGray;
		}
	}

	&__item-icon {
		border-radius: 2px;
		position: relative;
		flex: 0 0 60px;
		padding-bottom: 60px;
		margin-right: 24px;
		transition: $transition ease opacity 0s;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__item-content {
	}

	&__item-name {
		display: inline-block;
		font-size: 14px;
		line-height: 20px;
		color: $fontColor;
		margin-bottom: 8px;
		text-decoration: underline transparent from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline $fontColor from-font;
			}
		}
	}

	&__item-price {
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		color: $fontColor;
		margin-bottom: 8px;

		span {
			&:not(:last-child) {
				margin-right: 16px;
			}
		}
	}

	&__item-actions {
	}

	&__item-remove {
		display: inline-flex;
		align-items: center;
		font-weight: 700;
		font-size: 12px;
		line-height: 14px;
		color: $fontColor;
		transition: $transition ease opacity 0s;

		i {
			font-size: 16px;
			line-height: 1;
			color: $Gray;
			margin-right: 8px;
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.6;
			}
		}
	}

	&__footer {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px;
		margin: 0 -20px 0;
		background: $White;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
	}

	&__total {
		span {
			font-weight: 600;
			display: block;
		}
	}

	&__total-discounted {
		font-size: 18px;
		line-height: 25px;
	}

	&__total-without-discounted {
		font-size: 14px;
		line-height: 20px;
	}

	&__btn {
		margin-left: 20px;
	}
}

.new-price {
	color: $Red;
}
.old-price {
	font-weight: 400;
	color: $DGray;
	text-decoration: line-through;
}
// ====== BASKET END ======

// ====== BOTTOM-MENU START ======
.bottom-menu {
	@media screen and (min-width: 768px) {
		display: none;
	}
	@media screen and (max-width: 767px) {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		height: $size-header-height-mobile;
		background-color: $White;
		z-index: 3;
		box-shadow: 0px -3px 24px rgba(0, 0, 0, 0.1);
		padding: 8px 20px;

		&__list {
			display: flex;
			justify-content: space-between;
		}

		&__item {
			font-size: 10px;
			line-height: 120%;
			text-align: center;

			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				color: $Gray;
				height: 100%;
			}

			i {
				font-size: 24px;
				margin-bottom: 4px;
				flex: 1;
			}

			span {
				display: block;
			}

			&._active {
				a {
					color: $Orange;
				}
			}
		}
	}
}

// ====== BOTTOM-MENU END ======

// ====== SEARCH2 START ======
.select2-dropdown {
	z-index: 3 !important;
}
.select2-selection {
	display: flex !important;
	align-items: center;
	height: 40px !important;
}
.select2-selection__rendered {
	display: flex !important;
	align-items: center;
	font-size: 14px;
	line-height: 20px !important;
	padding-left: 18px !important;

	&::before {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		background: url(../img/icons/select2-search.svg) no-repeat center/contain;
		margin-right: 11px;
	}
}
.select2-selection__arrow {
	display: none;
}
// ====== SEARCH2 END ======

// ====== SEARCH START ======

// ====== SEARCH END ======
