.form {
    &__body {
        position: relative;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    &__item {
        margin: 0px 0px 20px 0px;
    }

    &__label {
        display: block;
        margin: 0px 0px 10px 0px;
    }

    &__input {
        height: 51px;
        padding: 15px;
        border-radius: 1px;
        width: 100%;
        font-size: 18px;
        border: 1px solid $LGray;
        transition: $transition ease all 0s;

        &::placeholder {
            color: $Gray;
            opacity: 1;
            transition: 0.3s ease opacity 0s;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }

            border-color: $Orange;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
        }
    }

    &__checkbox {
        input {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            position: absolute;
            width: 1px;
            height: 1px;
            left: 0;
            top: 0;
            z-index: -1;

            &:checked {
                & + span {
                    &::before {
                        background-color: $Orange;
                        border-color: $Orange;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        & > span {
            display: block;
            position: relative;
            padding-left: 32px;
            cursor: pointer;

            &::before,
            &::after {
                content: "";
                display: block;
                transition: $transition ease all 0s;
            }
            &::before {
                width: 16px;
                height: 16px;
                border: 1px solid $Gray;
                border-radius: 1px;
                position: absolute;
                top: 0px;
                left: 0;
            }
            &::after {
                position: absolute;
                top: 2px;
                left: 3px;
                width: 11px;
                height: 11px;
                background: url(../img/icons/accept-white.svg) no-repeat center/contain;
                opacity: 0;
            }
        }
    }

    &__radio {
        input {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 1px;
            z-index: -1;

            &:checked {
                & + span {
                    &::before {
                        background-color: $White;
                        border: 4px solid $Orange;
                    }
                }
            }
        }

        & > span {
            display: block;
            position: relative;
            padding-left: 32px;
            cursor: pointer;

            &::before {
                content: "";
                display: block;
                transition: $transition ease all 0s;
            }
            &::before {
                width: 16px;
                height: 16px;
                border: 4px solid $LGray;
                border-radius: 50%;
                background-color: $LGray;
                position: absolute;
                top: 0px;
                left: 0;
            }
        }
    }

    &__privacy {
        font-size: 12px;
        line-height: 17px;
        color: $Gray;

        a {
            color: $Gray;
            text-decoration: underline $Gray from-font;
            text-underline-offset: 3px;
            transition: $transition ease text-decoration, $transition opacity 0s;

            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline transparent from-font;
                    opacity: 0.6;
                }
            }
        }
    }
}

textarea.form__input {
    min-height: 120px;
    resize: vertical;
    padding: 15px;
}

// .options {
//     padding: 10px 0px 0px 0px;

//     &__item {
//         margin: 0px 0px 10px 0px;
//     }

//     &__input {
//         display: none;

//         &:checked + .options__label::after {
//             transform: scale(1);
//         }
//     }

//     &__label {
//         display: inline-flex;
//         align-items: center;
//         position: relative;
//         cursor: pointer;

//         &::before {
//             content: "";
//             align-self: flex-start;
//             flex: 0 0 24px;
//             height: 24px;
//             background-color: #fff;
//             border-radius: 50%;
//             margin: 0px 10px 0px 0px;
//         }

//         &::after {
//             content: "";
//             position: absolute;
//             top: 4px;
//             left: 4px;
//             width: 16px;
//             height: 16px;
//             background-color: #7a956b;
//             border-radius: 50%;
//             transform: scale(0);
//             transition: transform 0.5s ease 0s;
//         }
//     }
// }

// .file {
//     &__item {
//         position: relative;
//     }

//     &__input {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         opacity: 0;
//         font-size: 0;
//         cursor: pointer;
//     }

//     &__button {
//         display: inline-flex;
//         min-height: 40px;
//         border-radius: 30px;
//         justify-content: center;
//         align-items: center;
//         background-color: #77608d;
//         padding: 0px 20px;
//     }

//     &__preview {
//         display: inline-block;
//         max-width: 100px;
//         padding: 10px 0px 0px 0px;

//         img {
//             max-width: 100%;
//         }
//     }
// }

// .checkbox {
//     &._error {
//         .checkbox__label::before {
//             box-shadow: 0 0 15px red;
//         }
//     }

//     &__input {
//         display: none;
//     }

//     &__label {
//         font-size: 16px;
//         line-height: 140%;
//         display: inline-flex;
//         align-items: center;
//         position: relative;
//         cursor: pointer;

//         &::before {
//             content: "";
//             align-self: flex-start;
//             flex: 0 0 24px;
//             height: 24px;
//             background-color: #fff;
//             border-radius: 4px;
//             margin: 0px 10px 0px 0px;
//         }

//         &::after {
//             content: "";
//             width: 16px;
//             height: 16px;
//             position: absolute;
//             top: 4px;
//             left: 4px;
//             background-color: #7a956b;
//             border-radius: 4px;
//             transform: scale(0);
//             transition: transform 0.5s ease 0s;
//         }

//         a {
//             color: #7a956b;
//         }
//     }

//     &__input:checked + .checkbox__label::after {
//         transform: scale(1);
//     }
// }
