.form {
    &__body {
        position: relative;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    &__item {
        margin: 0px 0px 20px 0px;
    }

    &__label {
        display: block;
        margin: 0px 0px 10px 0px;
    }

    &__input {
        height: 51px;
        padding: 15px;
        border-radius: 1px;
        width: 100%;
        font-size: 16px;
        line-height: 22px;
        border: 1px solid $LGray;
        transition: $transition ease all 0s;

        &::placeholder {
            color: $Gray;
            opacity: 1;
            transition: 0.3s ease opacity 0s;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }

            border-color: $Orange;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
        }
    }

    &__input-note {
        display: block;
        font-size: 12px;
        line-height: 17px;
        color: $Gray;

        &:not(:first-child) {
            margin-top: 8px;
        }
    }

    &__input-note-important {
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        line-height: 20px;
        color: $Gray;

        &::before {
            content: "";
            display: block;
            flex: 0 0 18px;
            width: 18px;
            height: 18px;
            background: url(../img/icons/important-note.svg) no-repeat center/contain;
            margin-right: 8px;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__checkbox {
        position: relative;
        
        input {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            position: absolute;
            width: 1px;
            height: 1px;
            left: 0;
            top: 0;
            z-index: -1;

            &:checked {
                & + span {
                    &::before {
                        background-color: $Orange;
                        border-color: $Orange;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        & > span {
            display: block;
            position: relative;
            padding-left: 32px;
            cursor: pointer;

            &::before,
            &::after {
                content: "";
                display: block;
                transition: $transition ease all 0s;
            }
            &::before {
                width: 16px;
                height: 16px;
                border: 1px solid $Gray;
                border-radius: 1px;
                position: absolute;
                top: 0px;
                left: 0;
            }
            &::after {
                position: absolute;
                top: 2px;
                left: 3px;
                width: 11px;
                height: 11px;
                background: url(../img/icons/accept-white.svg) no-repeat center/contain;
                opacity: 0;
            }
        }
    }

    &__radio {
        position: relative;

        input {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 1px;
            z-index: -1;

            &:checked {
                & + span {
                    &::before {
                        background-color: $White;
                        border: 4px solid $Orange;
                    }
                }
            }
        }

        & > span {
            display: block;
            position: relative;
            padding-left: 32px;
            cursor: pointer;

            &::before {
                content: "";
                display: block;
                transition: $transition ease all 0s;
            }
            &::before {
                width: 16px;
                height: 16px;
                border: 4px solid $LGray;
                border-radius: 50%;
                background-color: $LGray;
                position: absolute;
                top: 0px;
                left: 0;
            }
        }

        &--box {
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;

            input {
                &:checked {
                    & + .form__radio-wrapper {
                        border-color: $Orange;
                    }
                }
            }

            .form__radio-wrapper {
                @include adaptiv-value("padding", 20, 13, 1);
                border: 1px solid $LGray;
                border-radius: 2px;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: flex-start;
                transition: $transition ease border-color, $transition background-color 0s;

                @media (any-hover: hover) {
                    &:hover {
                        background-color: $LGray2;
                    }
                }

                img {
                    max-width: 20px;
                    margin-right: 16px;
                }
            }

            .form__radio-title {
                font-size: 14px;
                line-height: 20px;

                &:not(:last-child) {
                    margin-bottom: 2px;
                }
            }

            .form__radio-note {
                font-size: 12px;
                line-height: 17px;
                color: $Gray;

                span {
                    display: block;

                    @media screen and (max-width: 767px) {
                        display: inline-block;

                        &:not(:last-child) {
                            margin-right: 16px;
                        }
                    }
                }
            }
        }
    }

    &__file {
        position: relative;

        input {
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 0;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
    }

    &__privacy {
        font-size: 12px;
        line-height: 17px;
        color: $Gray;

        a {
            color: $Gray;
            text-decoration: underline $Gray from-font;
            text-underline-offset: 3px;
            transition: $transition ease text-decoration, $transition opacity 0s;

            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline transparent from-font;
                    opacity: 0.6;
                }
            }
        }
    }

    &__password {
        &-input {
            position: relative;

            a {
                display: inline-flex;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                padding: 5px;
                font-size: 18px;
                color: $Gray;
                transition: $transition ease opacity 0s;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }

        &-show {
            display: inline-flex;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            padding: 5px;
            font-size: 18px;
            cursor: pointer;
            color: $Gray;
            transition: $transition ease opacity 0s;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.6;
                }
            }

            input {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                position: absolute;
                width: 1px;
                height: 1px;
                left: 0;
                top: 0;
                z-index: -1;
            }

            span {
                display: inline-flex;
            }
        }

        &-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 13px;
            font-size: 14px;
            line-height: 20px;
            margin: -5px;
            margin-top: 8px;
        }

        &-save {
            display: block;
            padding: 5px;

            span {
                padding-left: 24px;

                &::before {
                    background-color: $LGray;
                    border-color: $LGray;
                }
            }
        }

        &-reset {
            padding: 5px;
            text-align: right;

            a {
                display: inline-flex;
                position: relative;
                color: $Orange;
                transition: $transition ease opacity 0s;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.6;
                    }
                }

                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    transform: translateY(100%);
                    border-bottom: 1px dashed $Orange;
                }
            }
        }

        &._active {
            .icon-show-pass::before {
                content: "\e91b";
            }
        }
    }
}

textarea.form__input {
    min-height: 120px;
    resize: vertical;
    padding: 15px;
}
