.fancybox {
    &__popup {
        max-width: 400px;
        @include adaptiv-value("padding-top", 50, 30, 1);
        @include adaptiv-value("padding-bottom", 50, 30, 1);
        @include adaptiv-value("padding-left", 50, 15, 1);
        @include adaptiv-value("padding-right", 50, 15, 1);

        .form__button {
            width: 100%;
            font-size: 16px;
            line-height: 22px;
            min-height: 54px;
        }
    }

    &__popup-title {
        font-weight: 700;
        @include adaptiv-font(28, 31, 16, 1);
        color: $fontColor;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__popup-footer {
        @include adaptiv-value("margin-top", 40, 24, 1);
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $Gray;

        a {
            font-weight: 700;
            color: $Orange;
            text-decoration: underline transparent from-font;
            text-underline-offset: 3px;
            transition: $transition ease text-decoration 0s;

            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline $Orange from-font;
                }
            }
        }
    }
}

.auth {
    &__submit {
        @include adaptiv-value("margin-top", 20, 10, 1);
    }

    .form__input {
        @include adaptiv-font(16, 22, 14, 1);
    }
}
