body {
    font-family: $fontMain;
    font-weight: $fontWeight;
    font-size: #{$fontSize}px;
    line-height: #{$lineHeight}px;
    color: $fontColor;
    overflow-x: hidden;

    @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
        font-size: calc(#{$fontSizeMobile}px + (#{$fontSize} - #{$fontSizeMobile}) * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
        line-height: calc(#{$lineHeight} / #{$fontSize});
    }

    &.lock {
        overflow: hidden;
    }
}

.site {
    &__wrap {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__main {
    }

    &__footer {
        margin-top: auto;
    }
}

.nav-fixed {
    .site__main {
        @media screen and (min-width: 768px) {
            padding-top: calc(#{$size-header-bottom} - 6px);
        }
    }
}

._container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    @include adaptiv-value("padding-left", 45, 20, 0);
    @include adaptiv-value("padding-right", 45, 20, 0);

    @media screen and (min-width: 1440px) {
        @include adaptiv-value("padding-left", 80, 20, 0);
        @include adaptiv-value("padding-right", 80, 20, 0);
    }
    @media screen and (min-width: 1920px) {
        @include adaptiv-value("padding-left", 120, 20, 0);
        @include adaptiv-value("padding-right", 120, 20, 0);
    }
    @media screen and (max-width: 767px) {
        padding: 0 20px;
    }
}

.row {
    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    @include adaptiv-value("margin-top", 24, 16, 1);
    @include adaptiv-value("margin-bottom", 24, 16, 1);
}

.col-5,
.col-6,
.col-7,
.col-12,
.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-sm-8,
.col-sm-9,
.col-md-4,
.col-md-6,
.col-md-7,
.col-md-8,
.col-lg-4,
.col-lg-6,
.col-lg-7,
.col-lg-8 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
}

.col-5 {
    flex: 0 0 41.666%;
    max-width: 41.666%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}

.col-sm-3 {
    @media screen and (min-width: 576px) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.col-sm-4 {
    @media screen and (min-width: 576px) {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

.col-sm-6 {
    @media screen and (min-width: 576px) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-sm-8 {
    @media screen and (min-width: 576px) {
        flex: 0 0 66.666%;
        max-width: 66.666%;
    }
}

.col-sm-9 {
    @media screen and (min-width: 576px) {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.col-md-4 {
    @media screen and (min-width: 768px) {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

.col-md-6 {
    @media screen and (min-width: 768px) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-md-7 {
    @media screen and (min-width: 768px) {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
}

.col-md-8 {
    @media screen and (min-width: 768px) {
        flex: 0 0 66.666%;
        max-width: 66.666%;
    }
}

.col-lg-4 {
    @media screen and (min-width: 992px) {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

.col-lg-6 {
    @media screen and (min-width: 992px) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-lg-7 {
    @media screen and (min-width: 992px) {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
}

.col-lg-8 {
    @media screen and (min-width: 992px) {
        flex: 0 0 66.666%;
        max-width: 66.666%;
    }
}

.wpcf7 .ajax-loader {
    display: none !important;
}

.wpcf7 form .wpcf7-response-output {
    margin: 26px 0 0;
}

.mb-0 {
    margin-bottom: 0 !important;
}
