// === Sizes ===
$size-container: 1150;
$layoutDesktop: 1366;
$layoutMobile: 320;
$size-header-height: 91px;
$size-header-height-mobile: 58px;
$size-header-top: 39px;
$size-header-bottom: 86px;

// === Font ===
$fontMain: "ProximaNova";
$fontSecond: "Roboto";
$fontWeight: 400;
$fontSize: 16;
$fontSizeMobile: 14;
$lineHeight: 22;
$fontColor: #212123;
// === Color ===

$Black: #000;
$White: #fff;
$Orange: #ec863d;
$Blue: #036a9b;
$LBlue: #f3f3f8;
$LBlue2: #f8f8fb;
$DBlue: #212123;
$Gray: #93939f;
$LGray: #e1e1e3;
$LGray2: #f5f5f5;
$LGray3: #ececec;
$DGray: #9f9693;
$Red: #dc5454;

$scrollTrack: #f7f7fb;
$scrollThumb: #93939f;

$transition: 0.3s;
