@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?l3g7m6");
  src: url("../fonts/icomoon.eot?l3g7m6#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff?l3g7m6") format("woff"), url("../fonts/icomoon.svg?l3g7m6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e900";
}

.icon-phone:before {
  content: "\e901";
}

.icon-reload:before {
  content: "\e902";
}

.icon-search:before {
  content: "\e903";
}

.icon-size-height:before {
  content: "\e904";
}

.icon-size-width:before {
  content: "\e905";
}

.icon-slider:before {
  content: "\e906";
}

.icon-Star:before {
  content: "\e907";
}

.icon-text-link:before {
  content: "\e908";
}

.icon-toggle:before {
  content: "\e909";
}

.icon-user:before {
  content: "\e90a";
}

.icon-wishlist:before {
  content: "\e90b";
}

.icon-cart:before {
  content: "\e90c";
}

.icon-catalog:before {
  content: "\e90d";
}

.icon-close:before {
  content: "\e90e";
}

.icon-compare:before {
  content: "\e90f";
}

.icon-exemplary:before {
  content: "\e910";
}

.icon-location:before {
  content: "\e911";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "ProximaNova";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #212123;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.site__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site__footer {
  margin-top: auto;
}

._container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: calc(20px + 25 * ((100vw - 320px) / (960)));
  padding-right: calc(20px + 25 * ((100vw - 320px) / (960)));
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 24px;
  margin-bottom: 24px;
}

.col-5,
.col-6,
.col-7,
.col-12,
.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-sm-8,
.col-sm-9,
.col-md-4,
.col-md-6,
.col-md-7,
.col-md-8,
.col-lg-4,
.col-lg-6,
.col-lg-7,
.col-lg-8 {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.666%;
          flex: 0 0 41.666%;
  max-width: 41.666%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333%;
          flex: 0 0 58.3333%;
  max-width: 58.3333%;
}

.wpcf7 .ajax-loader {
  display: none !important;
}

.wpcf7 form .wpcf7-response-output {
  margin: 26px 0 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.btn {
  text-align: center;
  -webkit-appearance: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
  padding: 14px 32px;
}

.btn-bg {
  background-color: #ec863d;
  color: #fff;
  -webkit-transition: 0.3s ease opacity 0s;
  -o-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.text-link {
  -webkit-text-decoration: underline transparent from-font;
          text-decoration: underline transparent from-font;
  text-underline-offset: 3px;
  -webkit-transition: 0.3s ease text-decoration 0s;
  -o-transition: 0.3s ease text-decoration 0s;
  transition: 0.3s ease text-decoration 0s;
}

h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  color: #000;
}

h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 37px;
}

h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 31px;
}

.form__body {
  position: relative;
}

.form__item {
  margin: 0px 0px 20px 0px;
}

.form__label {
  display: block;
  margin: 0px 0px 10px 0px;
}

.form__input {
  height: 51px;
  padding: 15px;
  border-radius: 1px;
  width: 100%;
  font-size: 18px;
  border: 1px solid #e1e1e3;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.form__input::-webkit-input-placeholder {
  color: #93939f;
  opacity: 1;
  -webkit-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.form__input::-moz-placeholder {
  color: #93939f;
  opacity: 1;
  -moz-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.form__input:-ms-input-placeholder {
  color: #93939f;
  opacity: 1;
  -ms-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.form__input::-ms-input-placeholder {
  color: #93939f;
  opacity: 1;
  -ms-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.form__input::placeholder {
  color: #93939f;
  opacity: 1;
  -webkit-transition: 0.3s ease opacity 0s;
  -o-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.form__input:focus {
  border-color: #ec863d;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form__input:focus::-moz-placeholder {
  opacity: 0;
}

.form__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::placeholder {
  opacity: 0;
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.accordion__title {
  width: 100%;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  padding: 5px 0;
}

.accordion__title::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #f8f8fb url(../img/icons/accordion.svg) no-repeat center/contain;
  padding: 8px;
  -webkit-transition: 0.3s ease transform 0s;
  -o-transition: 0.3s ease transform 0s;
  transition: 0.3s ease transform 0s;
}

.accordion__title._active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header {
  width: 100%;
}

.header__top {
  position: relative;
  z-index: 2;
  background-color: #f3f3f8;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__location {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__location:not(:last-child) {
  margin-right: 20px;
}

.header__top-menu:not(:last-child) {
  margin-right: 70px;
}

.header__top-menu .header-menu__item:not(:last-child) {
  margin-right: 24px;
}

.header__top-menu .header-menu__link {
  font-size: 12px;
  line-height: 17px;
}

.header .header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-menu__link {
  color: #212123;
  -webkit-text-decoration: underline transparent from-font;
          text-decoration: underline transparent from-font;
  text-underline-offset: 3px;
  -webkit-transition: 0.3s ease text-decoration 0s;
  -o-transition: 0.3s ease text-decoration 0s;
  transition: 0.3s ease text-decoration 0s;
}

.header__bottom {
  position: relative;
  z-index: 2;
  background-color: #fff;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  -webkit-transition: 0.3s ease box-shadow 0s;
  -o-transition: 0.3s ease box-shadow 0s;
  transition: 0.3s ease box-shadow 0s;
}

.header__bottom-column:not(:last-child) {
  margin-right: 50px;
}

.header__logo {
  max-width: 200px;
}

.header__main-contacts a {
  display: block;
  -webkit-text-decoration: underline transparent from-font;
          text-decoration: underline transparent from-font;
  text-underline-offset: 3px;
  -webkit-transition: 0.3s ease text-decoration 0s;
  -o-transition: 0.3s ease text-decoration 0s;
  transition: 0.3s ease text-decoration 0s;
}

.header__main-contacts a:not(:last-child) {
  margin-bottom: 2px;
}

.header__phone {
  color: #212123;
}

.header__mail {
  color: #93939f;
  font-size: 14px;
  line-height: 20px;
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__controls-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__control:not(:last-child) {
  margin-right: 16px;
}

.header__control > a {
  font-size: 22px;
  line-height: 1;
  color: #212123;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-transition: 0.3s ease transform, 0.3s opacity 0s;
  -o-transition: 0.3s ease transform, 0.3s opacity 0s;
  transition: 0.3s ease transform, 0.3s opacity 0s;
}

.nav-fixed .header__bottom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  height: calc(86px - 6px);
}

.location {
  position: relative;
}

.location__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #036a9b;
  -webkit-transition: 0.3s ease opacity 0s;
  -o-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.location__button i {
  font-size: 14px;
}

.location__button i:not(:last-child) {
  margin-right: 4px;
}

.location__button span {
  -webkit-text-decoration: underline transparent from-font;
          text-decoration: underline transparent from-font;
  text-underline-offset: 3px;
  -webkit-transition: 0.3s ease text-decoration 0s;
  -o-transition: 0.3s ease text-decoration 0s;
  transition: 0.3s ease text-decoration 0s;
}

.location__dropdown {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.auth__login {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.auth__login-link {
  color: #036a9b;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease opacity 0s;
  -o-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.auth__login-link i {
  font-size: 12px;
}

.auth__login-link i:not(:last-child) {
  margin-right: 8px;
}

.auth__login-link span {
  -webkit-text-decoration: underline transparent from-font;
          text-decoration: underline transparent from-font;
  text-underline-offset: 3px;
  -webkit-transition: 0.3s ease text-decoration 0s;
  -o-transition: 0.3s ease text-decoration 0s;
  transition: 0.3s ease text-decoration 0s;
}

.logo__link {
  display: inline-block;
  -webkit-transition: 0.3s ease opacity 0s;
  -o-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.search {
  position: relative;
}

.search-form {
  position: relative;
}

.search-form__input {
  font-size: 14px;
  line-height: 20px;
}

.search-form__btn {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 10px 17px;
  font-size: 16px;
  line-height: 1;
  -webkit-transition: 0.3s ease opacity 0s;
  -o-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.search-results {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.17);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.search-results__item:not(:last-child) {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e1e1e3;
}

.search-results__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #93939f;
}

.search-results__title:not(:last-child) {
  margin-bottom: 16px;
}

.search-results__category-item:not(:last-child) {
  margin-bottom: 16px;
}

.search-results__category-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-results__category-item-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  position: relative;
  padding-bottom: 20px;
}

.search-results__category-item-image:not(:last-child) {
  margin-right: 8px;
}

.search-results__category-item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.search-results__category-item-title {
  color: #212123;
  -webkit-text-decoration: underline transparent from-font;
          text-decoration: underline transparent from-font;
  text-underline-offset: 2px;
  -webkit-transition: 0.3s ease text-decoration 0s;
  -o-transition: 0.3s ease text-decoration 0s;
  transition: 0.3s ease text-decoration 0s;
}

.search-results__category-item-title span {
  color: #ec863d;
}

.search-results__product-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
  margin-left: -14px;
  margin-right: -14px;
  -webkit-transition: 0.3s ease background 0s;
  -o-transition: 0.3s ease background 0s;
  transition: 0.3s ease background 0s;
}

.search-results__product-column:not(:last-child) {
  margin-right: 16px;
}

.search-results__product-image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  padding-bottom: 47px;
  position: relative;
  border-radius: 2px;
}

.search-results__product-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.search-results__product-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-results__product-name > div:not(:last-child) {
  margin-bottom: 2px;
}

.search-results__product-title {
  font-size: 14px;
  line-height: 20px;
  color: #212123;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.search-results__product-title span {
  color: #ec863d;
}

.search-results__product-category {
  font-size: 12px;
  line-height: 17px;
  color: #93939f;
}

.search-results__product-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #212123;
}

.search-results__product-price > div:not(:last-child) {
  margin-bottom: 2px;
}

.search-results__product-price-current {
  color: #dc5454;
}

.search-results__product-price-old {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #93939f;
}

.search-results._active {
  bottom: -15px;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.basket {
  position: relative;
}

.basket__link {
  position: relative;
  z-index: 2;
}

.basket__link .icon-cart {
  font-size: 19px;
}

.basket__amount {
  min-width: 22px;
  min-height: 22px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  border-radius: 100%;
  background-color: #036a9b;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  right: 5px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.basket__preview {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 10px;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.small-basket {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.small-basket__wrapper {
  width: 100px;
  height: 100px;
  background-color: #000;
}

.luminaire-types {
  background: -o-linear-gradient(179.85deg, #fff1dd -9.41%, #deebf8 105.22%);
  background: linear-gradient(270.15deg, #fff1dd -9.41%, #deebf8 105.22%);
  padding: 12px 0;
}

.luminaire-types__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.luminaire-types .catalog-btn:not(:last-child) {
  margin-right: 24px;
}

.luminaire-types__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.luminaire-types__menu:not(:last-child) {
  margin-right: 24px;
}

.luminaire-types__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: calc(-6px + -7 * ((100vw - 320px) / (960)));
  margin-right: calc(-6px + -7 * ((100vw - 320px) / (960)));
}

.luminaire-types__item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: calc(6px + 7 * ((100vw - 320px) / (960)));
  padding-right: calc(6px + 7 * ((100vw - 320px) / (960)));
}

.luminaire-types__item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 20px;
  color: #212123;
  -webkit-text-decoration: underline transparent from-font;
          text-decoration: underline transparent from-font;
  text-underline-offset: 3px;
  -webkit-transition: 0.3s ease text-decoration 0s;
  -o-transition: 0.3s ease text-decoration 0s;
  transition: 0.3s ease text-decoration 0s;
}

.catalog-btn {
  font-weight: 600;
  padding-left: 16px;
  padding-right: 25px;
}

.catalog-btn i:not(:last-child) {
  margin-right: 10px;
}

.frontpage {
  background: -o-linear-gradient(276.72deg, #cde4f9 -2.13%, #ffeac1 98.82%);
  background: linear-gradient(173.28deg, #cde4f9 -2.13%, #ffeac1 98.82%);
  padding-top: 15px;
}

.frontpage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frontpage__sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
}

.frontpage__sidebar:not(:last-child) {
  margin-right: 20px;
}

.frontpage__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.frontpage__content section {
  margin-bottom: 64px;
}

.lamps-sidebar {
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.06);
          box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.06);
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 25px;
}

.lamps-sidebar__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  padding: 15px 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ec863d;
}

.lamps-sidebar__title:not(:last-child) {
  margin-bottom: 24px;
}

.lamps-sidebar__accordion {
  padding-left: 25px;
  padding-right: 25px;
}

.lamps-sidebar__accordion-item:not(:last-child) {
  margin-bottom: 6px;
}

.lamps-sidebar__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease opacity 0s;
  -o-transition: 0.3s ease opacity 0s;
  transition: 0.3s ease opacity 0s;
}

.lamps-sidebar a.lamps-sidebar__button {
  padding: 5px 0;
  -webkit-text-decoration: underline transparent from-font;
          text-decoration: underline transparent from-font;
  text-underline-offset: 3px;
  -webkit-transition: 0.3s ease text-decoration 0s;
  -o-transition: 0.3s ease text-decoration 0s;
  transition: 0.3s ease text-decoration 0s;
}

.lamps-sidebar__button-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  position: relative;
  padding-bottom: 20px;
}

.lamps-sidebar__button-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.lamps-sidebar__button-image:not(:last-child) {
  margin-right: 8px;
}

.lamps-sidebar__button-title {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #212123;
}

.lamps-sidebar__text {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #f8f8fb;
  margin-left: -25px;
  margin-right: -25px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 52px;
  padding-right: 25px;
}

.lamps-sidebar__text li:not(:last-child) {
  margin-bottom: 16px;
}

.lamps-sidebar__link {
  color: #212123;
  -webkit-text-decoration: underline transparent from-font;
          text-decoration: underline transparent from-font;
  text-underline-offset: 3px;
  -webkit-transition: 0.3s ease text-decoration 0s;
  -o-transition: 0.3s ease text-decoration 0s;
  transition: 0.3s ease text-decoration 0s;
}

.main-banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-banners__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 350px;
}

.main-banners__item:not(:last-child) {
  margin-right: 20px;
}

.main-banners__wrapper {
  width: 100%;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.main-banners__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-banners__title:not(:last-child) {
  margin-bottom: 20px;
}

.main-banners__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-banners__features:not(:last-child) {
  margin-bottom: 20px;
}

.main-banners__feature-wrapper {
  max-width: 174px;
}

.main-banners__feature-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 31px;
}

.main-banners__feature-title:not(:last-child) {
  margin-bottom: 5px;
}

.main-banners__feature-text {
  font-size: 14px;
  line-height: 20px;
}

.main-banners__item--big {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.main-banners__item--small .main-banners__title {
  font-size: 28px;
  line-height: 31px;
}

.main-banners__item--small .main-banners__feature-title {
  font-size: 22px;
  line-height: 26px;
}

.main-banners__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ec863d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-banners__link:not(:last-child) {
  margin-bottom: 20px;
}

.main-banners__link span {
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  text-underline-offset: 3px;
  -webkit-transition: 0.3s ease text-decoration 0s;
  -o-transition: 0.3s ease text-decoration 0s;
  transition: 0.3s ease text-decoration 0s;
}

.main-banners__link i {
  margin-left: 8px;
}

.main-banners__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 576px) {
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666%;
            flex: 0 0 66.666%;
    max-width: 66.666%;
  }

  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .nav-fixed .site__main {
    padding-top: calc(86px - 6px);
  }

  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333%;
            flex: 0 0 58.3333%;
    max-width: 58.3333%;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666%;
            flex: 0 0 66.666%;
    max-width: 66.666%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333%;
            flex: 0 0 58.3333%;
    max-width: 58.3333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666%;
            flex: 0 0 66.666%;
    max-width: 66.666%;
  }
}

@media screen and (min-width: 1280.02px) {
  .header__top-menu .header-menu__link {
    font-size: calc(10px + 2 * ((100vw - 320px) / (960)));
    line-height: 141.6666666667%;
  }

  .header__mail {
    font-size: calc(12px + 2 * ((100vw - 320px) / (960)));
    line-height: 142.8571428571%;
  }

  .location__button {
    font-size: calc(10px + 2 * ((100vw - 320px) / (960)));
    line-height: 100%;
  }

  .location__button i {
    font-size: calc(12px + 2 * ((100vw - 320px) / (960)));
    line-height: 100%;
  }

  .auth__login {
    font-size: calc(10px + 2 * ((100vw - 320px) / (960)));
    line-height: 116.6666666667%;
  }

  .auth__login-link i {
    font-size: calc(6px + 6 * ((100vw - 320px) / (960)));
    line-height: 100%;
  }

  .search-results__title {
    font-size: calc(12px + 2 * ((100vw - 320px) / (960)));
    line-height: 142.8571428571%;
  }
}

@media screen and (min-width: 1440px) {
  ._container {
    padding-left: calc(20px + 60 * ((100vw - 320px) / (960)));
    padding-right: calc(20px + 60 * ((100vw - 320px) / (960)));
  }

  .luminaire-types__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1920px) {
  ._container {
    padding-left: calc(20px + 100 * ((100vw - 320px) / (960)));
    padding-right: calc(20px + 100 * ((100vw - 320px) / (960)));
  }
}

@media screen and (max-width: 1279.98px) {
  body {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(22 / 16);
  }
}

@media (max-width: 1150px) {
  p {
    margin-top: calc(16px + 8 * ((100vw - 320px) / (960)));
  }

  p {
    margin-bottom: calc(16px + 8 * ((100vw - 320px) / (960)));
  }

  h1 {
    font-size: calc(24px + 20 * ((100vw - 320px) / (960)));
    line-height: 109.0909090909%;
  }

  h2 {
    font-size: calc(18px + 16 * ((100vw - 320px) / (960)));
    line-height: 108.8235294118%;
  }

  h3 {
    font-size: calc(16px + 12 * ((100vw - 320px) / (960)));
    line-height: 110.7142857143%;
  }

  .header__top-menu:not(:last-child) {
    margin-right: calc(20px + 50 * ((100vw - 320px) / (960)));
  }

  .header__top-menu .header-menu__item:not(:last-child) {
    margin-right: calc(6px + 18 * ((100vw - 320px) / (960)));
  }

  .header__bottom-column:not(:last-child) {
    margin-right: calc(20px + 30 * ((100vw - 320px) / (960)));
  }

  .header__logo {
    max-width: calc(100px + 100 * ((100vw - 320px) / (960)));
  }

  .header__control:not(:last-child) {
    margin-right: calc(0px + 16 * ((100vw - 320px) / (960)));
  }

  .search-results {
    padding-top: calc(15px + 15 * ((100vw - 320px) / (960)));
  }

  .search-results {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / (960)));
  }

  .search-results {
    padding-left: calc(15px + 17 * ((100vw - 320px) / (960)));
  }

  .search-results {
    padding-right: calc(15px + 17 * ((100vw - 320px) / (960)));
  }

  .search-results__category-item:not(:last-child) {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / (960)));
  }

  .search-results__product-column:not(:last-child) {
    margin-right: calc(10px + 6 * ((100vw - 320px) / (960)));
  }

  .search-results__product-image {
    -ms-flex-preferred-size: calc(45px + 15 * ((100vw - 320px) / (960)));
        flex-basis: calc(45px + 15 * ((100vw - 320px) / (960)));
  }

  .search-results__product-image {
    padding-bottom: calc(30px + 17 * ((100vw - 320px) / (960)));
  }

  .basket__amount {
    right: calc(0px + 5 * ((100vw - 320px) / (960)));
  }

  .luminaire-types .catalog-btn:not(:last-child) {
    margin-right: calc(20px + 4 * ((100vw - 320px) / (960)));
  }

  .luminaire-types__menu:not(:last-child) {
    margin-right: calc(20px + 4 * ((100vw - 320px) / (960)));
  }

  .frontpage__content section {
    margin-bottom: calc(50px + 14 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar {
    padding-bottom: calc(20px + 5 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar__title {
    font-size: calc(16px + 2 * ((100vw - 320px) / (960)));
    line-height: 138.8888888889%;
  }

  .lamps-sidebar__title {
    padding-left: calc(15px + 10 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar__title {
    padding-right: calc(15px + 10 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar__title:not(:last-child) {
    margin-bottom: calc(20px + 4 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar__accordion {
    padding-left: calc(15px + 10 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar__accordion {
    padding-right: calc(15px + 10 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar__text {
    margin-left: calc(-15px + -10 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar__text {
    margin-right: calc(-15px + -10 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar__text {
    padding-top: calc(20px + 4 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar__text {
    padding-bottom: calc(20px + 4 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar__text {
    padding-left: calc(28px + 24 * ((100vw - 320px) / (960)));
  }

  .lamps-sidebar__text {
    padding-right: calc(15px + 10 * ((100vw - 320px) / (960)));
  }

  .main-banners__wrapper {
    padding-top: calc(20px + 10 * ((100vw - 320px) / (960)));
  }

  .main-banners__wrapper {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / (960)));
  }

  .main-banners__wrapper {
    padding-left: calc(15px + 25 * ((100vw - 320px) / (960)));
  }

  .main-banners__wrapper {
    padding-right: calc(15px + 25 * ((100vw - 320px) / (960)));
  }

  .main-banners__feature-title {
    font-size: calc(16px + 12 * ((100vw - 320px) / (960)));
    line-height: 110.7142857143%;
  }

  .main-banners__item--small .main-banners__title {
    font-size: calc(16px + 12 * ((100vw - 320px) / (960)));
    line-height: 110.7142857143%;
  }

  .main-banners__item--small .main-banners__feature-title {
    font-size: calc(16px + 6 * ((100vw - 320px) / (960)));
    line-height: 118.1818181818%;
  }
}

@media screen and (max-width: 767px) {
  ._container {
    padding: 0 20px;
  }
}

@media (any-hover: hover) {
  .btn-bg:hover {
    opacity: 0.8;
  }

  .text-link:hover {
    -webkit-text-decoration: underline #212123 from-font;
            text-decoration: underline #212123 from-font;
  }

  .header .header-menu__link:hover {
    -webkit-text-decoration: underline #212123 from-font;
            text-decoration: underline #212123 from-font;
  }

  .header__phone:hover {
    -webkit-text-decoration: underline #212123 from-font;
            text-decoration: underline #212123 from-font;
  }

  .header__mail:hover {
    -webkit-text-decoration: underline #93939f from-font;
            text-decoration: underline #93939f from-font;
  }

  .header__control > a:hover {
    -webkit-transform: translate(0, 2px);
        -ms-transform: translate(0, 2px);
            transform: translate(0, 2px);
    opacity: 0.6;
  }

  .location__button:hover {
    opacity: 0.6;
  }

  .location__button:hover span {
    -webkit-text-decoration: underline #036a9b from-font;
            text-decoration: underline #036a9b from-font;
  }

  .auth__login-link:hover {
    opacity: 0.6;
  }

  .auth__login-link:hover span {
    -webkit-text-decoration: underline #036a9b from-font;
            text-decoration: underline #036a9b from-font;
  }

  .logo__link:hover {
    opacity: 0.8;
  }

  .search-form__btn:hover {
    opacity: 0.6;
  }

  .search-results__product-link:hover {
    background: rgba(236, 134, 61, 0.08);
  }

  .basket:hover .small-basket {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .luminaire-types__item a:hover {
    -webkit-text-decoration: underline #212123 from-font;
            text-decoration: underline #212123 from-font;
  }

  .lamps-sidebar__button:hover {
    opacity: 0.6;
  }

  .lamps-sidebar a.lamps-sidebar__button:hover {
    opacity: 1;
    -webkit-text-decoration: underline #212123 from-font;
            text-decoration: underline #212123 from-font;
  }

  .lamps-sidebar__link:hover {
    -webkit-text-decoration: underline #212123 from-font;
            text-decoration: underline #212123 from-font;
  }

  .main-banners__link:hover span {
    -webkit-text-decoration: underline #ec863d;
            text-decoration: underline #ec863d;
  }
}

@media (any-hover: hover) and (any-hover: hover) {
  .search-results__category-link:hover .search-results__category-item-title:hover {
    -webkit-text-decoration: underline #212123 from-font;
            text-decoration: underline #212123 from-font;
  }
}